@charset "utf-8";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h1 {font-size:2.3em;}
h2 {font-size:2em;}
a:link {color:#43FFA6;}      /* unvisited link */
a:visited {color:#43FFA6;}  /* visited link */
a:hover {color:#43FFA6;}  /* mouse over link */
a:active {color:#43FFA6;}
#wrapper {
	min-height: 100%;
	position: relative;
	min-width: 800px;
	max-width: 1400px;
	margin: 0 auto;
	background-color: #2B86FF;
}

header {
	padding: 20px;
}
footer {
	clear: both;
	float: left;
	width: 100%;
	background-color: #0DEFFF;
}
footer p {
	margin: 20px;
}
/* Start of Column CSS */
#col2 {
	clear: left;
	float: left;
	width: 100%;
	overflow: hidden;
	background: #23E8C1; /* column 2 background colour */
}
#col1 {
	float: left;
	width: 100%;
	position: relative;
	right: 61.8%;
	background: #34AEE8; /* column 1 background colour */
}
nav {
	float: left;
	width: 34.2%;
	position: relative;
	left: 63.8%;
	overflow: hidden;
	background-color: #34AEE8;
}
main {
	float: left;
	width: 57.8%;
	position: relative;
	left: 67.8%;
	overflow: hidden;
	background-color: #23E8C1;
}
