@charset "utf-8";
/* CSS Document */

#headertable{
	text-align:center;
	width: 75%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

a:link {
	color:#B80000;
	text-decoration:none;
}	/* unvisited link */
a:visited {
	color:#B80000;
	text-decoration:none;
}	/* visited link */
a:hover {
	color:#FF0000;
	text-decoration:none;
}	/* visited link */

a:active {
	color:#FF0000;
	text-decoration:none;
}	/* visited link */