@charset "utf-8";
/* CSS Document */

h1, h2{
	text-align: center;	
}
table{
	text-align:center;
	width: 75%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;

}


#winery{
	border: 1px solid black;
}

#footer{
	text-align: center;
	color: #0000FF;
}
