@charset "utf-8";
/* CSS Document */

h1, h2, #edit{
	text-align: center;	
}

#width{
	width: 40%;	
	margin-left:auto;
	margin-right:auto;
}

#lastupdated{
	text-align: center;
	font-size:small;
}

#indent
{
	text-indent:50px;
}

table{
	text-align:center;
	padding: 10px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}